:root {
	--horizontalpadding: 0.5rem;
	--verticalpadding: 0.2rem;
	--deviceheight: 800px;
	--devicewidth: 480px;
}

* {box-sizing: border-box;}



#Map {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
	transform-origin: center;
	z-index:0;
	background-color: #333;
}

.leaflet-pane {
	width: 100%;
	height: 100%;
}

.map_trackup #Map {
	/* top: calc((-1 * var(--deviceheight) / 2) + 210px); */
	top: 210px;
}

#glidericon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	overflow: visible;
}

.map_trackup #glidericon {
	top: calc(50% + 210px);
}

#glidericon #symbol {
	width: 100px;
	transform: translate(-50px,-50px) rotate(45deg);
	fill: #000000;
	stroke: #ffffff;
	stroke-width: 3px;
}

#glidericon #ac_hdg, #glidericon #ac_trk {
    width: 3px;
    height: 1000px;
    position: absolute;
    left: 0;
    top: -1000px;
    background-color: #0E57AB;
}

#glidericon #ac_trk {
    background-color: #ff22dd;
    transform-origin: bottom;
    transform: rotate(0deg);
}



/* Hawk Wind Display */

#hawk {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 1px;
	overflow: visible;
	border: 5px solid red;
	font-size: 45px;
}

#hawk.active { display: block; }

.map_trackup #hawk {
	top: calc(50% + 210px);
}

#hawk .arrow {
	position: absolute;
	height: 3rem;
	top: -1.5rem;
	width: 2rem;
	left: -1rem;
	transform-origin: center;
}

#arrow_current {
	background-color: #6162a9;
}

#arrow_avg {
	background-color: #aaaaaa;
}

.arrow svg {
	width: 200%;
	position: absolute;
	bottom: -2rem;
	left: -50%;
}

#arrow_current svg {
	fill: #6162a9;
}

#arrow_avg svg {
	fill: #aaaaaa;
}

#hawk #number {
	position: absolute;
	bottom: -300px;
	padding: var(--verticalpadding) var(--horizontalpadding);
	width: 18rem;
	margin-left: -9rem;
	text-align:center;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
}

.map_trackup #hawk #number { bottom: -180px; }

#hawk #vertical_indicator {
	position: absolute;
	width: calc(var(--devicewidth) / 8);
	height: 0;
	border: 1px solid black;
	left: calc( -1* var(--devicewidth) / 2.3);
	text-align: center;
}

.map_trackup #hawk #vertical_indicator { top: -210px; }

#hawkbar {
	position: absolute;
	right: 0;
	bottom:0;
	width: 100%;
	height: 0;
	background-color: #0d8b3c;
}

#hawkbar svg {
	transform: rotate(180deg);
	position: absolute;
	left: 0;
	top: -48px;
	width: 100%;
	fill: #0d8b3c;
}

#hawkbar.negative {
	background-color: #cc0000;
	bottom: auto;
	top: 0;
}

#hawkbar.negative svg {
	transform: rotate(0deg);
	top: auto;
	bottom: -48px;
	fill: #cc0000;
}

#hawkbar .value {
	color: #fff;
	position: absolute;
	bottom: 0.2rem;
	left: -4px;
	width: 100%;
	text-align: center;
	letter-spacing: -8px;
	font-size: 0.8em;
	text-shadow: 1px 1px 5px rgba(0,0,0,1);
}

#hawkbar.negative .value {
	bottom: auto;
	top: 0.2rem;
}


#alert {
	display: none;
	background-color: #cc0000;
	color: #fff;
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index:10000;
	font-size: 1.2rem;
}

#alert p {
	font-size: 1em;
}


.datafields {
	width: 100%;
	height: 3em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	z-index: 100;
}

.datafield {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 3em;
	color: #fff;
	padding: 0 var(--horizontalpadding) var(--verticalpadding) var(--horizontalpadding);
}

.datafield .label {
	width: 100%;
	text-align: center;
	font-size: 0.7em;
}

.datafield .value {
	align-self: baseline;
	text-align:center;
	position: relative; 
	width: 100%;
	overflow: hidden;
}

.datafield .number {
	font-size: 1.5em;
	line-height: 1em;
}

.datafield .unit {
	font-size: 0.7em;
}


#task-wpt-name {
	width: 65%;
	white-space: nowrap;
	overflow: hidden;
}